.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  padding: 12px;
  align-items: center;
  justify-content: center;
}

.input_container {
  margin: 10px 0;
}

.error-message {
  color: darkred;
}

.api-keys__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 16px;
  box-sizing: border-box;
}

.api-keys__table {
  max-width: 500px;
  width: 100%;
}

.api-keys__table_wrapper {
  margin: 12px 0;
}

.api-keys__table,
.api-keys__table_table-cell {
  border: 1px solid black;
  border-collapse: collapse;
}

.api-keys__table_table-cell {
  padding: 8px;
}

.api-keys__table_table-cell:last-of-type {
  width: 100px;
}

.api-keys__table_delete-key-button {
  width: 100%;
  height: 30px;
  color: white;
  cursor: pointer;
  outline: none;
  background-color: grey;
  border: 1px solid black;
  border-radius: 5px;
}
